body {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  color: #6a737d;
  text-decoration: none;
  font-family: 'Coda', regular;
  /* margin-right: 2rem; */
}

.current {
  color: #000000;
  border-bottom: 2px solid #f9826c;
}

.img-gif {
  max-width: 100vw;
}

.plug {
  height: 105vh;
  width: 100vw;
  background-color: rgb(241, 211, 211);
  /* margin-bottom: -3rem; */
}

.blue {
  /* height: 100vh; */
  /* height: 70vh; */
  padding: 5vh 0;
  width: 100vw;
  background-color: #141b1f;
  /* background-color: #BFDAEE; */
}

.central-logo-text {
  max-width: 40vw;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.first-time-logo-text {
  font-size: 2rem;
}

.first-time-logo-text-name {
  font-size: 2rem;
  font-weight: bold;
}
.current-project {
  color: #5faf2c;
}

.my-role {
  font-size: 1.5rem;
  color: #f9826c;
}

.second-time-logo-text {
  font-size: 1.5rem;
}

.bigger-part-first-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: white;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-family: 'Rubik', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  /* text-align: center; */
  /* width: 100%; */
  /* max-height: 75%; */
  padding: 10px 0px;
}

.prologue {
  text-align: center;
  /* height: 500px;
  width:  500px; */
  padding: 1rem;
  font-size: 1.5rem;
  /* margin: 0 40px; */
}

.avatar {
  /* background-color: #F9826C; */
  /* justify-content: center; */
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0 auto;
  min-height: 15vw;
  max-height: 40vw;
  width: auto;
  border-radius: 50%;
  display: inline-block;
}

.red {
  min-height: 30vh;
  max-height: 50vh;
  width: 100vw;
  flex-direction: column;
  background-color: #f6f8fa;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Rubik', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  color: #000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.contact-container {
  /* height: 100vh; */
  padding-top: 10vh;
  padding-bottom: 2vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: #f6f8fa;
}

.yellow {
  height: 100vh;
  width: 100vw;
  background-color: #f6f8fa;
}

nav {
  position: sticky;
  top: 0;
}

.tarot-card {
  margin-top: 15vh;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  height: 450px;
  width: 280px;
  border: 5px solid black;
  border-radius: 10px;
  background-color: rgb(195, 211, 240);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: transform 1.5s cubic-bezier(0.5, 0.59, 0.44, 1.11);
}

.tarot-card-wrap:hover .tarot-card.front,
.tarot-card-wrap:focus .tarot-card.front,
.tarot-card-wrap:active .tarot-card.front {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.tarot-card-wrap:hover .tarot-card.front ~ .back,
.tarot-card-wrap:focus .tarot-card.front ~ .back,
.tarot-card-wrap:active .tarot-card.front ~ .back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.tarot-card.front {
  transform-origin: center;
}

.tarot-card.back {
  /* position:relative; */
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  z-index: 1;
}

.inside-card-board {
  position: relative;
  margin: 0 auto;
  margin-top: 3vh;
  height: 360px;
  width: 230px;
  border: 5px solid black;
  border-radius: 10px;
  text-align: center;
  font-family: 'Walter Turncoat', cursive;
  padding-top: 5px;
  font-size: 20px;
  background-color: white;
}

.laptop-img {
  margin: 0 auto;
  margin-top: 4vh;
  height: 60%;
  width: auto;
}

.tarot-name {
  width: 100%;
  white-space: nowrap;
  position: absolute;
  bottom: 0;
  border-top: 4px solid black;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #f6f8fa;
}

.back-center {
  position: relative;
}

.back-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4vh;
}

form {
  width: 90%;
  max-width: 500px;
}
form #form-title {
  margin-top: 0;
  font-weight: 400;
  text-align: center;
}
form #debt-amount-slider {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  position: relative;
  width: 100%;
  height: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
form #debt-amount-slider::before {
  content: ' ';
  position: absolute;
  height: 2px;
  width: 100%;
  width: calc(100% * (4 / 5));
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000;
}
form #debt-amount-slider input,
form #debt-amount-slider label {
  box-sizing: border-box;
  flex: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
form #debt-amount-slider label {
  display: inline-block;
  position: relative;
  width: 20%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
form #debt-amount-slider label::before {
  content: attr(data-debt-amount);
  position: absolute;
  left: 50%;
  padding-top: 10px;
  transform: translate(-50%, 45px);
  font-size: clamp(0.5rem, 2.5vw, 0.9rem);
  letter-spacing: 0.4px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0.85;
  transition: all 0.15s ease-in-out;
}
form #debt-amount-slider label::after {
  content: ' ';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border: 2px solid #000;
  background: #fff;
  border-radius: 50%;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
form #debt-amount-slider label:hover::after {
  transform: translate(-50%, -50%) scale(1.25);
}
form #debt-amount-slider input {
  display: none;
}
form #debt-amount-slider input:checked + label::before {
  font-weight: 800;
  opacity: 1;
}
form #debt-amount-slider input:checked + label::after {
  border-width: 4px;
  transform: translate(-50%, -50%) scale(0.75);
}
form #debt-amount-slider input:checked ~ #debt-amount-pos {
  opacity: 1;
}
form #debt-amount-slider input:checked:nth-child(1) ~ #debt-amount-pos {
  left: 10%;
}
form #debt-amount-slider input:checked:nth-child(3) ~ #debt-amount-pos {
  left: 30%;
}
form #debt-amount-slider input:checked:nth-child(5) ~ #debt-amount-pos {
  left: 50%;
}
form #debt-amount-slider input:checked:nth-child(7) ~ #debt-amount-pos {
  left: 70%;
}
form #debt-amount-slider input:checked:nth-child(9) ~ #debt-amount-pos {
  left: 90%;
}
form #debt-amount-slider #debt-amount-pos {
  display: block;
  position: absolute;
  top: 50%;
  width: 12px;
  height: 12px;
  background: #000;
  border-radius: 50%;
  transition: all 0.15s ease-in-out;
  transform: translate(-50%, -50%);
  border: 2px solid #fff;
  opacity: 0;
  z-index: 2;
}
form:valid #debt-amount-slider input + label::before {
  transform: translate(-50%, 45px) scale(0.9);
  transition: all 0.15s linear;
}
form:valid #debt-amount-slider input:checked + label::before {
  transform: translate(-50%, 45px) scale(1.1);
  transition: all 0.15s linear;
}
form + button {
  display: block;
  position: relative;
  margin: 56px auto 0;
  padding: 10px 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: all 0.15s ease-in-out;
  font-family: inherit;
  font-size: 24px;
  font-weight: 600;
  background: #fff;
  border: 2px solid #000;
  border-radius: 8px;
  outline: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
form + button:hover {
  background: #000;
  color: #fff;
}
form + button:hover:active {
  transform: scale(0.9);
}
form + button:focus {
  background: #4caf50;
  border-color: #4caf50;
  color: #fff;
  pointer-events: none;
}
form + button:focus::before {
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
form + button::before {
  display: inline-block;
  width: 0;
  opacity: 0;
  content: '';
  font-family: 'Rubik', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-weight: 900;
  margin-right: 0;
  transform: rotate(0deg);
}
form:invalid + button {
  pointer-events: none;
  opacity: 0.25;
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
    width: 24px;
    opacity: 1;
    margin-right: 12px;
  }
  to {
    transform: rotate(360deg);
    width: 24px;
    opacity: 1;
    margin-right: 12px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
    width: 24px;
    opacity: 1;
    margin-right: 12px;
  }
  to {
    transform: rotate(360deg);
    width: 24px;
    opacity: 1;
    margin-right: 12px;
  }
}

.card-skills {
  margin-top: 5vh;
  min-height: 250px;
  max-height: 350px;
  min-width: 300px;
  max-width: 500px;
  /* border: 1px solid black; */
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  position: relative;
}

.social-icon {
  width: 64px;
  height: 64px;
  margin: 20px;
}

.social-icon:hover {
  cursor: pointer;
  transform: translateY(-2px);
  /* box-shadow: 0 5px 15px rgba(0,0,0,0.3); */
}

.text-slills {
  position: absolute;
  font-size: clamp(0.8rem, 2.5vw, 0.9rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
